<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= _.camelize(props.componentName) %></title>
    <script>
        import angular from 'angular';

        require('<%= _.camelize(props.componentName) %>/assets/index.css');

        var tpl = `
        <div class="ng-cloak">
            {{'string' | myfilter}}

            <div data-directive></div>
        </div>
        `;

        var render = function() {
            var root = document.getElementById('__component-content');
            root.innerHTML = tpl;
            angular.bootstrap(root, [require('<%= _.camelize(props.componentName) %>')]);
        };

        render();
    </script>
</head>
<body>
    <div id="__component-content"></div>
</body>
</html>